*.class
.idea
*.iml
atlassian-*.xml
# Package Files #
*.jar
*.war
*.ear
ez18n-base/.classpath
ez18n-base/.project
ez18n-base/.settings
ez18n-base/target
ez18n-sample/.classpath
ez18n-sample/.project
ez18n-sample/.settings
ez18n-sample/target
ez18n-webapp/.classpath
ez18n-webapp/.settings
ez18n-webapp/.project
ez18n-webapp/target
*~
ez18n-webapp/gwt-unitCache
